<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>File Uploader</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style>
        body { margin-top: 20px; }

        .js-hidden {
            visibility: hidden;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Upload Image to S3</h3>
            </div>

            <div class="panel-body">
                <form id="imageForm" role="form" action="/upload" enctype="multipart/form-data" method="post">

                    <div class="form-group">
                        <input type="file" id="image" name="image">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>

                </form>
            </div>

        </div>

        <div class="panel panel-default js-hidden">
            <div class="panel-heading">
                <h3>S3 Images List</h3>
            </div>

            <div class="panel-body">
                <ul id="imageList">
                </ul>
            </div>
        </div>
    </div>

    <script id="imageListTemplate" type="template">
        <li><button data-name="{{name}}">X</button> <a href="./images/{{name}}">{{name}}</a></li>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="./js/script.js"></script>
</body>
</html>